.App {
  width: 1800px;
  position: absolute;
  display: flex;
  justify-content: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 100s linear;
  }
}
h1{
  color: black;
}
.App-header {
  /* background-color: #ffffff; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*Deja los elementos centrados al -zoom*/
#root{
  display: flex;
  justify-content: center;
}