
li{
    list-style: none;
    margin: 10px 20px 0 20px;
    font-size: 15.8;
}

ul{
    display: flex;
}
/*Background*/
.Background{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.Elipse{
    width: 290px;
    height: 290px;
    position: relative;
    left: 540px;
    top: 397px;
    filter: blur(231px);
    background-image: url(../images/Ellipse.png);
}
.Elipse1{
    width: 990px;
    height: 946px;
    position: relative;
    top: -723px;
    left: -431px;
    filter: blur(231px);
    background-image: url(http://localhost:3000/static/media/EllipseaNaranja.3d2d01e398e7af6ae275.svg);
}
.Elipse2{
    width: 696px;
    height: 304px;
    position: relative;
    top: -961px;
    left: 104px;
    filter: blur(231px);
    background-image: url(../images/EllipseVioleta.svg);
}

/*NavBar*/
.NavBar-header{
    position: absolute;
    width: 1250px;
    height: 76px;
    top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.NavBar-logo{
    margin: 10px;
    width: 250px;
    height: 56px;
    background-image: url(../images/logoInfinix.svg);
    background-size: cover;
    background-position: center;
}
.NavBar-nav{
    margin-right: 50px;
}
.navBar-logoInfinix{
    width: 100%;
    height: 100%;
    margin-top: 500px;
}
.textMenu{
    color: #575E89;
}

/*Main*/
.Main{
    position:absolute;
    width: 100%;
}
.title h2{
    color: black;
}
