html{
    background-color: #ffc1c1c6; /*Auxiliar*/
}
li{
    list-style: none;
    margin: 10px 0px 0 20px;
    font-size: 15.8;
    margin: 0px 0px 0 25px;
}

ul{
    display: flex;
}
a{
    text-decoration: none;
    color: #575E89;
}
a:hover{
    color: rgb(255, 131, 15);
}
/*Background*/
.Background{
    display: flex;
    align-items:center;
    flex-direction: column;
    position: fixed;
    text-align: center;
    width: 100%;
    filter: blur(190px);
}

.Background div{
    position: absolute;
}

.Elipse {
    position: absolute;

    width: 227.82px;
    height: 722.86px;
    left: 398px;
    top: 281.43px;
    background: #9C51B6;
    transform: matrix(0.32, 0.94, -0.96, 0.3, 0, 0);
}

.Elipse1 {
    position: absolute;

    width: 875.5px;
    height: 965.72px;
    left: -694.2px;
    top: -520px;
    background: rgb(255, 131, 15);
    transform: matrix(-0.97, -0.03, 0.25, 1, 0, 0);
}

.Elipse2 {
    position: absolute;

    width: 406.82px;
    height: 722.86px;
    left: -750px;
    top: 1097.43px;
    background: #8251b6;
    transform: matrix(0.32, 0.94, -0.96, 0.3, 0, 0);
}

.Elipse3 {
    position: absolute;

    width: 227.82px;
    height: 722.86px;
    left: -1254px;
    top: 1268.43px;
    background: rgb(255, 131, 15);
    transform: matrix(0.32, 0.94, -0.96, 0.3, 0, 0);
}

.Elipse4 {
    position: absolute;

    width:  342.5px;
    height: 368.72px;
    left: 68.80000000000001px;
    top: -169px;
    background: rgb(255, 131, 15);
    transform: matrix(0.32, 0.94, -0.96, 0.3, 0, 0);
}
.Elipse5 {
    position: absolute;

    width:  574.5px;
    height: 395.72px;
    left: 80.80000000000001px;
    top: -171px;
    background: rgb(255, 131, 15);
    transform: matrix(-0.97, -0.03, 0.25, 1, 0, 0);
}

.Elipse6 {
    position: absolute;

    width: 476.82px;
    height: 790.86px;
    left: 320.65999999999997px;
    top: 55.430000000000064px;
    background: #9C51B6;
    transform: matrix(0.32, 0.94, -0.96, 0.3, 0, 0);
}
.Elipse7 {
    position: absolute;

    width: 945.5px;
    height: 287.72px;
    left: 855.8px;
    top: 450px;
    background: rgb(255, 131, 15);
    transform: matrix(-0.97, -0.03, 0.25, 1, 0, 0);
}
.Elipse8 {
    position: absolute;

    width: 227.82px;
    height: 722.86px;
    left: -194px;
    top: 1268.43px;
    background: rgb(255, 131, 15);
    transform: matrix(0.32, 0.94, -0.96, 0.3, 0, 0);
}
.Elipse9 {
    position: absolute;

    width:  476.82px;
    height: 691.86px;
    left: 1101.6599999999999px;
    top: -380.56999999999994px;
    background: #9C51B6;
    transform: matrix(0.32, 0.94, -0.96, 0.3, 0, 0);
}
.Elipse10 {
    position: absolute;

    width: 218.81999999999994px;
    height: 690.86px;
    left: 1043.69px;
    top: 3537px;
    background: #9C51B6;
    transform: matrix(0.32, 0.94, -0.96, 0.3, 0, 0);
}
.Elipse11 {
    position: absolute;

    width: 896.5px;
    height: 81.72000000000003px;
    left: -153.20000000000005px;
    top: 3867px;
    background: rgb(255, 131, 15);
    transform: matrix(-0.97, -0.03, 0.25, 1, 0, 0);
}

/*NavBar*/
.NavBar-header{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
    max-width: 1200px;
    margin: 0 40px 0 40px;
    width: 100%;
}
.NavBar-logo{
    width: 250px;
    height: 56px;
    background-image: url(../images/logoInfinix.svg);
    background-size: cover;
    background-position: center;
    position: relative;
}

 /*boton escondido*/
[aria-controls='menu-list']{
    display: none;
}
.NavBar-list{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-right: 75px;
}
.menu-list{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    max-width: 600px;
    width: 100%;
}

.NavBar-contain{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    align-items: center;
    position: relative;
}
.menu{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
}
.textMenu{
    color: #575E89;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15.8px;
    line-height: 20px;
    text-align: center;
}
.textMenu:hover{
    color: #364393;
}
.Titulo span{
    color: white !important;
}
/*Media Navbar*/

@media all and (max-width: 824px){
    .NavBar-list{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 30px 0px 30px 0px;
        background-color: white;
        position: fixed;
        top: 50px;
        width: 100%;
    }
    .menu-list{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        top: 50px;
    }
    .menu-list a:hover{
        border-bottom: 2px solid #364393;
    }
    .NavBar-header{
        padding: 0;
        max-width: 800px;
        width: 100%;
        justify-content: space-between;
        align-items: flex-start;
    }
    .NavBar-logo{
        width: 13rem;
        top: 10px;
    }

    /*boton escondido*/
    [aria-controls='menu-list']{
        display: flex;
    }
    .close{
        display: none;
    }
    /*ANIMAR EN ESCALERA*/
    .menu-list{
        display: none;
    }

}
/*MAIN*/
.Main{
    position:absolute;
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
    max-width: 1200px;
    width: 90%;
    max-height: 756px;
    min-height: 720px;
    height: 100%;
    margin: 95px 40px 0 40px;
    padding: 1rem 0 1rem 0;
}

.Titulo{
    width: 22%;
}

.Titulo h1{
    margin-top: 120px;
    color: rgb(255, 255, 255);
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 113.032px;
    line-height: 100.4%;
}
.Titulo h3{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 1000;
    font-size: 24px;
    line-height: 32px;
    position: relative;
    top: -55px;
    left: 12px;
}
.Titulo span{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 30.24px;
}

.Composition{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: flex-end;
    position: relative;

}
.Composition img{
    position: absolute;
}
.estatua{
    
    width: 54% !important;
    top: -2%;
    left: 49%;
}
.fondo{
    width: 35% !important;
}

.marmol4{
    width: 30% !important;
    top: -5%;
    left: 66%;
}
.circulo{
    width: 35% !important;
    top: 59%;
    left: 40%;
}
.marmol3{
    width: 22% !important;
    top: 58%;
    left: 73%;
}
.marmol2{
    width: 23% !important;
    top: 0%;
    left: 38%;
}
.marmol1{
    width: 13% !important;
    top: 38%;
    left: 45%;
}
.star{
    color: red;
    padding: 0 3px 0 3px;
}

.Service{
    top: 13px;
    transform: rotate(90deg);
    width: 10%;
}
.containService{
    width: 809px;
    height: 138px;
}
.containService h2{
    color: #575E89;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15.8px;
    line-height: 20px;
}
@media all and (max-width: 824px){
    .Main{
        width: 80%;
        display: flex;
        justify-content: flex-end;
    } 

    .Composition{
        position: absolute;
        /* display: flex; */
        margin-left: 57px;
        top: 175px;
    }
    .Service{
        display: none;
    }
    .Titulo {
        width: 55% !important;
    }
    .Titulo h1{
        margin-top: 0px;
        font-size: 70px;
        position: relative;
    }
    .Titulo h3{
        font-size: 14px;
        top: -36px;

    }
    .Titulo span{
        font-size: 14px;
    }
}

@media all and (max-width: 1179px){
    .Titulo {
        width: 32%;
    }
}

/*SOLUTION*/
.Solutions{
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    width: 90%;
    margin-top: 860px;/* 460Provisorio*/
}
.Solutions_title h1{
    text-align: center;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 81px;
    line-height: 102px;
    color: white;
    margin-bottom: 13px;
}
.textLight{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 30.24px;
    margin-block-start: 0 !important;
}
.textBold{
    color: rgb(255, 255, 255);
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 1000;
    font-size: 24px;
    line-height: 32px;
    position: relative;
}
/*CARD*/
.Solutions_cards{
    height: 100%;    
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: flex-start;
    margin-top: 25px;
    flex-wrap: wrap;
}
.Solutions_card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 56px;
    width: 224px;
    height: 312px;   
    background: rgba(255, 255, 255, 0.2);
    border: 4px solid rgba(255, 255, 255, 0.33);
    backdrop-filter: blur(74px);    
    border-radius: 46.97px;
    filter: drop-shadow(-10px 24.92px 65.88px rgba(0, 0, 0, 0.27));
}
.Solutions_card h3{
    text-align: left !important;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 19.1506px;
    line-height: 24px;
}
.Solutions_card h2{
    font-size: 42.47px;
    margin-block-end: 0;
    margin-block-start: 0;
}
.Solutions_title span{
    color: white !important;
}
.mobile{
    position: relative;
    right: 50px;
    width: 132%;
    top:25px;
    transform: rotateZ(-0.1deg);
}

@media all and (max-width: 824px){
    .Solutions{
        width: 100%;
        margin-top: 560px;

    }
    .Solutions_cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
    }
    .Solutions_title h1{
        font-size: 55px;
    }
    .Solutions_title h3 {
        font-size: 16px;
        top: -36px;
        line-height: 27.24px;
    }
    .Solutions_title span {
        font-size: 16px;
    }
    .Solutions_card{
        width: 224px;
        height: 312px;   
    }
}
/*CREATE*/

.Create{
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 1865px;
    width: 100%;
    height: 1909px;
    margin-top: 1450px;/*Provisorio*/
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);   
}

.CreateBackground{
    width: 0%;
    height: 809px;
    margin-top: 1640px;/*Provisorio*/
    position: fixed;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items:center;
    filter: blur(190px);
    top: -729px;
}
.Create_title{
    position: absolute;
    max-width: 1200px;
    width: 100%;
    top: 305px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.Create_title h1{
    text-align: center;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 81px;
    line-height: 90px;
    text-align: center;
    color: #575E89;
}
.Create_title h3{
    color: #575E89 !important;

}
.Create_title span{
    color: #575E89 !important;

}
.line{
    margin-top: 100px;
}
.line1{
    margin-top: 280px;
    display: none;
}
.line2{
    margin-top: 250px;
    display: none;
}
.line3{
    margin-top: 100px;
    display: none;
}
@media all and (max-width: 1348px){
    .line{
        display: none;
    }
    .line1{
        display: block;
    }
}
@media all and (max-width: 1188px){
    .line1{
        display: none;
    }
    .line2{
        display: block;
    }
}
@media all and (max-width: 1275px){
    .line1{
        margin-top: 275px;
    }
    .Create{
        margin-top: 1950px;
    }
    .Create_title{
        top: 300px;
    }
    .Create_title h1{
        font-size: 80px;
        line-height: 100px;
    }
    .Create_title h3{
        font-size: 22px;
    }
    .Create_title span{
        font-size: 22px;
    }

}

@media all and (max-width: 836px){
    .line2{
        display: none;
    }
    .line3{
        display: block;

    }
    .Create{
        margin-top: 2100px;
    }
    .Create_title{
        top: 178px;
    }
    .Create_title{
        top: 207px;
    }
    .Create_title h1{
        font-size: 52px;
        line-height: 61px;
    }
    .Create_title h3{
        font-size: 16px;
    }
    .Create_title span{
        font-size: 16px;
    }
}
/*CARD RESPONSIVE*/
.CardRes{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px  31px;
    gap: 12px;
    position: relative;
    max-width: 574px;
    min-width: 100px;
    background: rgba(255, 255, 255, 0.2);
    /* Card Stroke */
    border: 3.6899px solid rgba(255, 255, 255, 0.33);
    backdrop-filter: blur(74px) ;
    /* Note: backdrop-filter has minimal browser support */
    max-height: 300px;
    border-radius: 46.97px;
}

.CardRes_title{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 41.47px;
    line-height: 52px;
    margin-block-start: 0px;
    color: #FAFBFB;
    margin-block-end: 0 !important;
}

.Roadmap{
    height: 3048px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-content: center;
    margin-top: 178px;

}
.CardRes h3{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 19.1506px;
    line-height: 24px;
}

@media all and (max-width: 1348px){
    .CardRes{
        top: 0px !important ;
        max-width: 300px;
    }
    .Roadmap{
        margin-top: 320px;
    }
}
@media all and (max-width: 1188px){
    .Roadmap{
        margin-top: 650px;
    }
}
@media all and (max-width: 836px){
    .Roadmap{
        margin-top: 450px;
    }
    .CardRes{
        top: 0px !important ;
        max-width: 330px;
    }
}


/*Partners*/
.Partners{
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    height: 172.98px;
    gap: 12rem;
    margin-top: 3220px;/*Provisorio*/

}
.Partners_title{
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: flex-end;
}

.Partners h1{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 81px;
    line-height: 102px;
    color: #575E89;
    margin-block-end: 0;
}
.Partners h3, span{
    color: #575E89 !important;
    text-align: initial;
}
.Partners_logos{
    display: flex;
    width: 378px;
    height: 172.98px;
    flex-direction: Column;
}

.logos{
    display: flex;
    width: 378px;
    height: 172.98px;
    flex-direction: row;
    gap: 26px;
    justify-content: center;
    align-items: center;
}

.logos img{
    width: 70.47px;
    height: 70.47px;
}

@media all and (max-width: 1275px){
    .Partners{
            margin-top: 3600px;
    }
}

@media all and (max-width: 1014px){
    .Partners{
        gap: 0;
        margin-top: 3850px;/*Provisorio*/
    
    }
}
@media all and (max-width: 836px){
    .Partners{
        display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
        margin-top: 4550px;/*Provisorio*/
    }

    .Partners h1{
        font-size: 60px;
    }
    .Partners h3{
        font-size: 17px;
    }
    .Partners span{
        font-size: 17px;
    }
}
/*SPEAK*/
.Speak{
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    gap: 12rem;
    margin-top: 3720px;


}
.Speak_title{
    display: flex;
    flex-direction: column;
}
.Speak_title h1{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 81px;
    line-height: 102px;
    text-align: center;
    color: #575E89;
    margin-block-end: 4px;
}
.Speak_title h3{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #575E89;
    text-align: center;
    letter-spacing: 0.02em;
}
.Speak_background{
    max-width: 1400px;
    width: 100%;
    display: flex;
    position: absolute;
    text-align: center;
    flex-direction: column;
    align-items:center;
    top: 1323px;
}

.Speak_background path{
    fill: white;
    /*    filter: drop-shadow(-18px 35px 40px rgb(0 0 0 / 0.2));*/
}

.Speak_background svg{
    height: 1637px;
    position: fixed;
    transform: rotate(180deg);
}

@media all and (max-width: 1275px){
    .Speak{
        gap: 0;
        margin-top: 4300px;/*Provisorio*/
    }
}
@media all and (max-width: 836px){
    .Speak{
        margin-top: 5000px;/*Provisorio*/
    }
    .Speak_title h1{
        font-size: 40px;
    }
    .Speak_title h3{

        font-size: 16px;
    }
}
/*Footer*/
.Footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    gap: 78px;
    width: 100%;
    padding-top: 67px;
    padding-bottom:48px;
    background-color: white;
    position: absolute;
    margin-top: 4200px;/*Provisorio*/
    
}
.links{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.Footer_links{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.Footer_link1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Footer_link2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Footer_links h3, span{
    color: #575E89;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 200%;
}
.Footer_links span{
    font-size: 18px;
}
.Footer_social{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap: 30px;
}
.copy{
    display: flex;
    align-items: center;
    justify-content: center;
}
.copy h3, span{
    color: #575E89;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 200%;
}
.copy span{
    font-size: 18px;
}
.open{
    font-size: 36px;
    color: #575E89;
}
.open:hover{
    color: #0419a2;
}
.close {
    font-size: 36px;
    font-weight: 900;
    fill: #575E89;
}
.close:hover{
    color: #0419a2;
}
.menu button{
    background: #ffffff00;
    border: none;
}

@media all and (max-width: 1275px){
    .links{
        flex-direction: column;
        align-items: flex-start;
    }

    .Footer_social  img{
        width: 30px ;
        justify-content: space-between;
        padding-top: 40px;
    }
}
@media all and (max-width: 1014px){

}
@media all and (max-width: 836px){
    .Footer{
        margin-top: 5250px;
    }
    .links{
        flex-direction: column;
        align-items: flex-start;
    }
    .Footer_links h3{
        font-size: 14px;
    }
    .Footer_links span{
        font-size: 14px;
    }
}