*,
*:before,
*:after{
    box-sizing: inherits;
    margin: 0;
}
li{
    list-style: none;
    margin: 10px 0px 0 20px;
    font-size: 15.8;
    margin: 0px 0px 0 25px;
}

ul{
    display: flex;
}
a{
    color: #575E89;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15.8px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    color: #575E89;
    gap: 50px;
}
a:hover{
    color: rgb(255, 131, 15);
}
h3{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 1000;
    font-size: 23px;
    line-height: 32px;
}
h1{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 81px;
    line-height: 100.4%;
}

span{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 23px;
    line-height: 30.24px;
}
@media (max-width: 824px){

    h1{
        font-size: 55px;
    }
    h3{
       font-size: 16px;
    }
    span{
        font-size: 16px;
    }
        
}

/*Background*/
.contain_Background{
    z-index: -1;
    height: auto;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Background{
    max-width: 1200px;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    filter: blur(200px);
    gap: 128px;
    height: auto;
}
.Background div{
    position: relative;
}

.fondoNaranja1 {
    width: 811px;
    height: 569px;
    left: -610px;
    top: -89px;
    background: rgb(255, 131, 15);
}

.fondoVioleta1 {
    width: 245px;
    height: 480px;
    left: -292px;
    top: -400px;
    transform: rotate(61deg);
    background: #8251b6;
}
.fondoNaranja2 {
    width: 1593px;
    height: 183px;
    left: -66px;
    top: 76px;
    background: rgb(255, 131, 15);
}

.fondoVioleta2 {
    width: 406.82px;
    height: 542px;
    left: -2px;
    top: -659px;
    background: #8251b6;
}

.fondoNaranja3 {
    width: 833px;
    height: 526px;
    left: -381px;
    top: -756px;
    background: rgb(255, 131, 15);
}

.fondoVioleta3 {
    width: 765px;
    height: 542px;
    left: 318px;
    top: -1309px;
    background: #8251b6;
}


@media all and (max-width: 1275px){
    .Background{
        gap: 200px;
    }
}

@media all and (max-width: 824px){
    .Background{
        gap: 420px;
    }
}

/*NavBar*/
.NavBar-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
    width: 100%;
}
.NavBar-logo{
    width: 250px;
    height: 56px;
    background-image: url(../images/logoInfinix.svg);
    background-size: cover;
    background-position: center;
}

 /*boton escondido*/
[aria-controls='menu-list']{
    display: none;
}
.menu{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
}
.NavBar-list{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-right: 75px;
}
.menu-list{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}
.menu svg{
    height: 1.5em;
    color: #FAFBFB;
}
.menu svg:hover{
    height: 1.5em;
    color: rgb(255, 131, 15);
}
.menu svg > path{
    filter: drop-shadow(0px 0px 30px rgba(47, 47, 47, 0.22));
}
.NavBar-contain{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    align-items: center;
    position: relative;
}

.Titulo span{
    color: white !important;
}
/*Media Navbar*/

@media all and (max-width: 824px){
    .menu-list{
        display: none;
        flex-direction: column;
        align-items: flex-start;
    }
    .NavBar-list{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 30px 0px 30px 0px;
        background-color: white;
        position: fixed;
        top: 50px;
        width: 90%;
    }
    .NavBar-logo{
        width: 13rem;
    }


    .NavBar-header{
        padding: 0;
        padding: 10px 24px 0 0;

    }
    .NavBar-logo{
        width: 13rem;
        top: 10px;
    }

    /*boton escondido*/
    [aria-controls='menu-list']{
        display: flex;
    }
    .close{
        display: none;
    }
}


/*MAIN*/
.Main{
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
    width: 95%;
    height: fit-content;
    /* padding: 1rem 0 1rem 0; */
}

.Titulo{
    width: 22%;
}

.Titulo h1{
    margin-top: 120px;
    color: rgb(255, 255, 255);
    font-size: 113px;
}

.Composition{
    width: 82%;
    height: 100%;
    min-height: 5%;
    display: flex;
    justify-content: flex-end;
    position: relative;

}
/*COMPOSITION*/
.Composition img{
    position: absolute;
}
.estatua{
    
    width: 54% !important;
    top: -2%;
    left: 49%;
}
.fondo{
    width: 45% !important;
}

.marmol4{
    width: 30% !important;
    top: -5%;
    left: 66%;
}
.circulo{
    width: 35% !important;
    top: 59%;
    left: 40%;
}
.marmol3{
    width: 22% !important;
    top: 58%;
    left: 73%;
}
.marmol2{
    width: 23% !important;
    top: 0%;
    left: 38%;
}
.marmol1{
    width: 13% !important;
    top: 38%;
    left: 45%;
}
.star{
    color: red;
    padding: 0 3px 0 3px;
}

.Service{
    transform: rotate(90deg);
    width: 12%;
}
.containService{
    width: 809px;
    height: 138px;
    margin-top: -40px;
}
.containService h2{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15.8px;
    line-height: 20px;
    color: #575e8978;
}
@media screen  and (max-width: 1179px){

    .Tiutlo{
        width: 23%;
    }
}
@media all and (max-width: 824px){
    .Main{
        width: 94%;
        display: flex;
        justify-content: flex-end;
    } 

    .Composition{
        position: absolute;
        margin-left: 57px;
        height: 5%;
    }
    .Service{
        display: none;
    }
    .Titulo {
        width: 55% !important;
    }
    .Titulo h1{
        margin-top: 0px;
        font-size: 70px;
        position: relative;
    }
    .Titulo h3{
        font-size: 14px;
        top: -36px;

    }
    .Titulo span{
        font-size: 14px;
    }
}


/*SOLUTION*/
.Solutions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 60px;
    padding: 10rem 0 3rem 0;
}

.Solutions h3{
    text-align: center;
}
.Solutions h1{
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 30px;

}

/*CARD*/
.Solutions_cards{
    gap: 50px;
    width: 100%;
    height: auto;    
    display: flex;
    flex-direction: row;
    align-items: flex-start;   
    justify-content: center;
}
.Solutions_card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 25px 30px;
    gap:30px;
    width: 28%;
    height: auto;
    min-width: 240px;
    backdrop-filter: blur(3.5px);    
    border-radius: 46.97px;
    background: rgba(255, 255, 255, 0.2);
    border: 4px solid rgba(255, 255, 255, 0.33);
     filter: drop-shadow(-10px 24.92px 65.88px rgba(0, 0, 0, 0.27));
}
.Solutions_card h3{
    text-align: left !important;
    font-style: normal;
    font-weight: 100;
    font-size: 21px;
    line-height: 24px;
    padding-left: 10px;
}
.Solutions_card h2{
    font-size: 42.47px;
    margin-block-end: 0;
    margin-block-start: 0;
    padding-left: 10px;
}
.Solutions_title span{
    color: white !important;
}
.mobile{
    position: relative;
    right: 30px;
    width: 118%;
    top: 25px;
    transform: rotateZ(-0.1deg);
}
@media all and (max-width: 1348px){
    .Solutions_cards{
        flex-wrap: wrap;
    }
}
@media all and (max-width: 824px){
    .Solutions_title h1{
        font-size: 55px;
    }
    .Solutions_title h3 {
        font-size: 16px;
        top: -36px;
        line-height: 27.24px;
    }
    .Solutions_title span {
        font-size: 16px;
    }
}
/*CREATE*/

.Create{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1865px;
    margin-top: -150px;
    padding-bottom: 150px;
    height: auto;
    overflow: hidden;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%);
}

.CreateBackground{
    filter: blur(190px);
    height: auto;
    position: absolute;
    z-index: -1;
}
.Roadmap{
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin-top: -700px;
}
.Create_title{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 250px;
}

.Create_title h1{
    text-align: center;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 81px;
    line-height: 90px;
    text-align: center;
    color: #575E89;
}
.Create_title h3{
    color: #575E89 !important;

}
.Create_title span{
    color: #575E89 !important;

}
.line{
    margin-top: 100px;
}
.line1{
   /*margin-top: 280px;*/ 
    display: none;
}
.line2{
    margin-top: 100px;
    display: none;
}
.line3{
    margin-top: 100px;
    display: none;
}
@media all and (max-width: 1348px){
    .line{
        display: none;
    }
    .line1{
        margin-top: 280px;
        display: block;
     }
     .Roadmap{
        margin-top: -604px;
    }
}
@media all and (max-width: 1275px){
    .line1{
        display: none;
    }
    .line2{
        display: block;
    }
    .Roadmap{
        margin-top: -1000px;
    }

    .Create_title{
        top: 300px;
    }
    .Create_title h1{
        font-size: 80px;
        line-height: 100px;
    }
}
@media all and (max-width: 836px){

    .line2{
        display: none;
    }
    .line3{
        display: block;
    }
    .Roadmap{
        flex-direction: column;
        margin-top: -1662px;
        width: 16%;
    }

    .Create_title h1{
        font-size: 42px;
        line-height: 61px;
    }
}
/*CARD RESPONSIVE*/
.CardRes{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 25px  30px;
    gap: 30px;
    max-width: 500px;
    width: auto;
    height: fit-content;
    backdrop-filter: blur(3.5px) ;
    border-radius: 46.97px;
    background: rgba(255, 255, 255, 0.2);
    border: 4px solid rgba(255, 255, 255, 0.33);
     filter: drop-shadow(-10px 24.92px 65.88px rgba(0, 0, 0, 0.27));
}

.CardRes_title{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 41.47px;
    line-height: 52px;
    margin-block-start: 0px;
    color: #FAFBFB;
    margin-block-end: 0 !important;
}

.CardRes h3{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 19.1506px;
    line-height: 24px;
}

@media all and (max-width: 1348px){
    .CardRes{
        top: 0px !important ;
        max-width: 300px;
    }
}
@media all and (max-width: 1275px){
    .CardRes{
        max-width: 700px;
    }
}
@media all and (max-width: 836px){
    .CardRes{
        top: 0px !important ;
        max-width: 300px;
    }

}


/*Partners*/
.Partners{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 85%;
    height: auto;
    gap: 4rem;

}
.Partners_title{
    display: flex;
    width: 92%;
    flex-direction: column;
    justify-content: flex-end;
}

.Partners h1{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 81px;
    line-height: 102px;
    color: #575E89;
    margin-block-end: 0;
}
.Partners h3, span{
    color: #575E89 !important;
    text-align: initial;
}
.Partners_logos{
    display: flex;
    width: 50%;
    height: auto;
    flex-direction: Column;
}

.logos{
    display: flex;
    flex-direction: row;
    gap: 26px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logos img{
    width: 70.47px;
}

@media all and (max-width: 1014px){
    .Partners{
        flex-direction: column;
        align-items: center;
    }
    .Partners_title{
        align-items: center;    
    }
    .Partners_logos{
        align-items: center;
    }
    .Partners h3{
        text-align: center;
    }
}
@media all and (max-width: 836px){

    .Partners h1{
        font-size: 60px;
    }
    .Partners h3{
        font-size: 17px;
    }
    .Partners span{
        font-size: 17px;
    }
    .logos img {
        width: 52px;
    }
}

/*SPEAK*/
.Speak{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: white;
    margin-top: 270px;
}
.Speak_title{
    display: flex;
    flex-direction: column;
}
.Speak_title h1{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 81px;
    line-height: 102px;
    text-align: center;
    color: #575E89;
    margin-block-end: 4px;
}
.Speak_title h3{
    text-align: center;
    letter-spacing: 0.02em;
    color: #575E89;
    font-weight: 100;
    font-size: 20px;
}
     
.Speak_background{
    display: flex;
    position: relative;
    text-align: center;
    flex-direction: column;
    align-items:center;
    top: 2750px;
}
.Speak_background svg{
    height: 1637px;
    position: absolute;
    transform: rotate(180deg);
}

.Speak_background path{
    fill: white;
    /*    filter: drop-shadow(-18px 35px 40px rgb(0 0 0 / 0.2));*/
}

@media all and (max-width: 1348px){
    .Speak_background{
        top:3150px;
    }
}

@media all and (max-width: 1275px){
    .Speak_background{
        top:3750px;
    }
    .Speak{
        margin-top: 350px;/*Provisorio*/
    }
}

@media all and (max-width: 1014px){
    .Speak_background{
        top:3950px;
    }
}
@media all and (max-width: 836px){
    .Speak_background{
        top:4800px;
    }
}
@media all and (max-width: 824px){
    .Speak_background{
        top:4400px;
    }
    .Speak_title h1{
        font-size: 50px;
    }
}
@media all and (max-width: 686px){
    .Speak_background{
        top:4550px;
    }
}
@media all and (max-width: 665px){
    .Speak_background{
        top:4850px;
    }
}
/*Footer*/
.Footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    gap: 78px;
    width: 100%;
    padding-top: 67px;
    padding-bottom:48px;
    background-color: white;
    
    margin-top: 131px;
}
.links{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.Footer_links{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.Footer_link1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Footer_link2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footerBold{
    font-weight: 800;
    font-size: 16px;
}

.Footer_social{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap: 30px;
    padding-top: 10px;
}
.copy{
    display: flex;
    align-items: center;
    justify-content: center;
}

.copy span{
    font-size: 18px;
}
.open{
    width: 20px;
    filter: invert(1);
    color: #575E89;
}
.open:hover{
    color: #0419a2;
}
.close {
    font-size: 36px;
    font-weight: 900;
    fill: #575E89;
}
.close:hover{
    color: #0419a2;
}
.menu button{
    background: #ffffff00;
    border: none;
}
.socialIcon{
    width: 30px;
}
.load{
    width: 100%;
    height: 100% ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconLoading{
    width: 5%;
    margin: auto;
    position: absolute;
    margin-top: 11px;

}
.copy h3{
    color: #575E89;
    font-size: 18px;
}
@media all and (max-width: 1275px){
    .links{
        flex-direction: column;
        align-items: flex-start;
    }

    .Footer_social  img{
        width: 30px ;
        justify-content: space-between;
        padding-top: 40px;
    }
    .Elipse51{
        position: absolute;
        width: 574.5px;
        height: 695px;
        left: 617px;
        top: 3534px;
        background: rgb(255, 131, 15);
    }
}
@media all and (max-width: 1014px){

}
@media all and (max-width: 836px){
    .Footer{
        margin-top: 100px;
    }
    .links{
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }
    .Footer_links h3{
        font-size: 14px;
    }
    .Footer_links span{
        font-size: 14px;
    }
    .iconLoading{
        width: 20%;
        margin: auto;
        position: absolute;
        margin-top: 11px;
    }
}